{% extends "references/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <div class="row justify-content-left">
        <div class="col-8 s12, m8, l8">
            <legend class="border-bottom mt-4 mb-4"><h4>Material Creation</h4></legend>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Save</button>
                </div>
            </form>
        </div>
        <div class="col-4 s12, m8, l8">
            <div class="content-section mt-4 pl-3 pr-5">
                <legend class="border-bottom"><h4>Our Sidebar</h4></legend>
                <p class='text-muted'>You can put any information
                    here
                    you'd like.
                    <ul class="list-group">
                        <li class="list-group-item
                            list-group-item-light">Latest Posts</li>
                        <li class="list-group-item
                            list-group-item-light">Announcements</li>
                        <li class="list-group-item
                            list-group-item-light">Calendars</li>
                        <li class="list-group-item
                            list-group-item-light">etc</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}